@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    scrollbar-width: none; /* untuk Firefox */
    -ms-overflow-style: none;  /* untuk Internet Explorer dan Edge */
  }

  html {
    scroll-behavior: smooth;
  }