@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    background-color: #150000;
  }

}

::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none; /* untuk Firefox */
  -ms-overflow-style: none;  /* untuk Internet Explorer dan Edge */
}
